@model IEnumerable<PhoneStore.Data.Models.Phone>
@{
    ViewData["Title"] = "Show all phones";
}

<h2>All Phones</h2>

@{ 
	foreach(var phone in Model)
	{
		<div>
			<h4>Title : @phone.Title</h4>
			<h4>Price : @phone.Price.ToString("c") </h4>
		</div>
	}
}
